

.maincontainer{
    background: url(images/bg.JPG) no-repeat center center/cover;
    border: 2px solid red;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 696px;
    align-items: center;
}

.signin{
  width: 158%;
}